#hero {
    min-height: 600px;
    margin: 0;
}
.bgc_video {
    position: relative;
    min-width: 100%;
    margin-bottom: 0;
    z-index: -100;
}

.video_container {
    width: 100%;
    max-height: 600px;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    z-index: -100;
    margin-bottom: 0;
}

.banner {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    color: white;
    text-align: center;
    margin-top: 200px;
    font-size: 2rem;
    font-family: 'Arimo', sans-serif;
}

h1 {
    font-size: 5rem;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

h2 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

h3 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 32;
}

#resume{
    position: relative;
    min-height: auto;
    display: block;
    background-color: #F8F9FA;
}

#features {
    position: relative;
    height: auto;
    background-color: white;
    display: block;
}

#interests {
    position: relative;
    background-color: #F8F9FA;
    z-index: 1;
}

#interests p {
    font-family: 'Arimo', sans-serif;
    font-size: 1.25rem;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: column;
}

#resume p, .btn{
    font-family: 'Lato', sans-serif;
    text-align: center;
}

#features p, .btn{
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;
}

.btn {
    background-color: #e0ab45;
    color: white;
}

#features .row {
    display: flex;
    flex-direction: row;
}

.hobbies {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
}

.btn:hover {
    background-color: #e37327;
    color: #fff;
}

#interests img {
    border-radius: 50%;
}

.bgc_white {
    background-color: white;
}

span {
    font-weight: bold;   
}

#contact p {
    font-size: 20px;;
}

.contact_div {
    background-color: #F8F9FA;
}

@media (max-width: 700px){
    #interests p{
        text-align: justify;
    }

    #resume p{
        text-align: justify;
    }
}
